body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
}

.container {
	padding: 20px;
}

h2 {
	font-size: 24px;
	line-height: 36px;
}

table {
	width: 100%;
	margin-bottom: 18px;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: transparent;
	display: table;
	border-color: grey;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

tbody tr {
	border-top: 1px solid #dddddd;
}

tbody tr:hover {
	background-color: #dddddd;
}

td {
	display: table-cell;
	text-align: left;
}

th {
	text-align: center;
}

th, td {
	padding: 8px;
	line-height: 18px;
	vertical-align: top;
	width: 33%;
}

th:not(:last-child), td:not(:last-child) {
	border-right: 1px solid #dddddd;
}
